<html>
  <head>
    <title>Your Above Average Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="navbar">
      <a href = "{{ url_for('start') }}">Home</a>
      <div class="dropdown">
    	<button class="dropbtn">Book Options
      	  <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href = "{{ url_for('addBook') }}">Add</a>
          <a href = "{{ url_for('modifyBook') }}">Modify</a>
          <a href = "{{ url_for('deleteBook') }}">Delete</a>
        </div>
      </div> 
      <a href = "{{ url_for('modifyAuthor') }}">Modify Author</a>
      <div class="dropdown">
    	<button class="dropbtn">Search 
      	  <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href = "{{ url_for('authorRating') }}">Author Rating</a>
          <a href = "{{ url_for('keywordSearch') }}">Keywords</a>
          <a href = "{{ url_for('higherRatedAuthorSearch') }}">Authors Rated Higher</a>
          <a href = "{{ url_for('friendSearch') }}">Friends</a>
        </div>
      </div>
        <div class="dropdown">
    	<button class="dropbtn">Extras 
      	  <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href = "{{ url_for('aboveAvgBooks') }}">Above Average Books</a>
        </div>
      </div>
      <a href = "{{ url_for('logout') }}">Log Out</a> 
    </div>
    <h1 style="text-align:center">Your Average Rating: {{data}}</h1>
    {% if results %}
      <br>
      <table style="width:100%" border="1">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Title</th>
	    <th>Year Published</th>
	    <th>Rating</th>
            <th>Author</th>
	    <th>Author Country</th>
          </tr>
        </thead>
        {% for result in results%}
          <tr>
            <td style="text-align:center" >{{ result[0] }}</td>
            <td style="text-align:center" >{{ result[1] }}</td>
	    <td style="text-align:center" >{{ result[2] }}</td>
            <td style="text-align:center" >{{ result[3] }}</td>
	    <td style="text-align:center" >{{ result[4] + " " + result[5] }}</td>
	    <td style="text-align:center" >{{ result[6] }}</td>
          </tr>
        {% endfor %}
      </table>
     {% endif %}
     <p>* All the books that are rated above the average rating for all the books a user has read.</p>
  </body>
</html>
