<html>
  <head>
    <title>Modify Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body style="background-color:#fff5d7;">
    <div class="navbar">
      <a href = "{{ url_for('start') }}">Home</a>
      <div class="dropdown">
    	<button class="dropbtn">Book Options
      	  <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href = "{{ url_for('addBook') }}">Add</a>
          <a href = "{{ url_for('modifyBook') }}">Modify</a>
          <a href = "{{ url_for('deleteBook') }}">Delete</a>
        </div>
      </div> 
      <a href = "{{ url_for('modifyAuthor') }}">Modify Author</a>
      <div class="dropdown">
    	<button class="dropbtn">Search 
      	  <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href = "{{ url_for('authorRating') }}">Author Rating</a>
          <a href = "{{ url_for('keywordSearch') }}">Keywords</a>
          <a href = "{{ url_for('higherRatedAuthorSearch') }}">Authors Rated Higher</a>
	  <a href = "{{ url_for('friendSearch') }}">Friends</a>
        </div>
      </div>
        <div class="dropdown">
    	<button class="dropbtn">Extras 
      	  <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href = "{{ url_for('aboveAvgBooks') }}">Above Average Books</a>
        </div>
      </div>
      <a href = "{{ url_for('logout') }}">Log Out</a> 
    </div>
    <div class="container">
      <h1>Modify Book</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Current ISBN" name="ISBN" value="{{request.form.ISBN }}">
        <select name="choice">
  	  <option value="{{1}}">Title</option>
          <option value="{{2}}">Year Published</option>
          <option value="{{3}}">Rating</option>
        </select>
	<input type="text" placeholder="Information" name="info" value="{{request.form.info }}">
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <p>* IF ISBN NEEDS TO BE CHANGED GO TO DELETE </p>
    </div>
  </body>
</html>
<!-- <input type="text" placeholder="Choice" name="choice" value="{{request.form.title }}"> -->

