<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginRegister.css') }}">
  </head>
  <body style="background-color:#fff5d7;">
    <p style="text-align:left;">Have an account <a href = "{{ url_for('home') }}"><b>Click Here!</b></a></p>
    <h1>Please Register</h1>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
      <input type="password" placeholder="Password" name="password" value="{{request.form.password}}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
  </body>
</html>
